r5vm
*.o

# Visual Studio
.vs/
*.user
*.suo
*.VC.db*
*.opendb
*.ipch
*.tlog
*.log

# Build output
guest/vm.bin
guest/vm.list
guest/vm.elf
x64/
[Bb]in/
[Oo]bj/
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.exe

# Others
*.tmp
*.bak

config.mk

# tests
tests/*.bin
tests/test_runner_advanced
tests/test_runner_advanced_cov
tests/*.gcov
tests/*.gcda
tests/*.gcno

