r5vm
*.o

# Visual Studio
.vs/
*.user
*.suo
*.VC.db*
*.opendb
*.ipch
*.tlog
*.log

# Build output
guest/vm.bin
guest/vm.dis
guest/vm.elf
x64/
[Bb]in/
[Oo]bj/
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.exe

# Others
*.tmp
*.bak

